<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Documento sin título</title>
<link href="../../css/app.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="cuerpo">
<main class="contenido">
    <section class="imagenprincipal">
      <div class="TextoImagenPrincipal">
        <p>Abre tu negocio online </p>
        <p>¡Solo pagas por venta realizada!</p>
      </div>
    <img src="../../../assets/images/ventajas.png" width="1000" height="306" alt=""/></section>
    <article class="promocion">
      <div class="textopromo">
        <p><strong>Ventajas</strong></p>
        <p>Crea tu negocio online</p>
        <p>Gestiona tus productos o menús</p>
        <p>Administra tus pedidos y entregas</p>
        <p>Conocer quienes son tus clientes</p>
        <p>Paga solo por venta</p>
        <p>¡Haz más ventas!</p>
      </div>
      <div class="imagenpromo"><img src="../../../assets/images/Ventajas-Cerca-DE-MI.jpg" alt="" width="380" height="255"/></div>
    </article>
<article class="ejemplonegocio">
  <p>¿Como será tu negocio online?</p>
  <img src="../../../assets/images/pagina-ejemplo-cercademi.png" alt="" width="1000" height="583"></article>
    <article class="comoabrirtunegocio">Colocar aquí el contenido para  class "comoabrirtunegocio"</article>
    <article class="precios">Colocar aquí el contenido para  class "precios"</article>
    Colocar aquí el contenido para  class "contenido"</main>
</div>
</body>
</html>
